/* =========================================================
   top.css
   Topフレーム
========================================================= */

#top-frame{
    position:absolute;
    left:0;
    top:0;

    width:100%;
    height:80px;

    border:2px solid #ffd400;
    background:rgba(255,212,0,.15);

    transition:.15s;
}

/* =========================================================
   Top分割（今後使用）
========================================================= */

.top-piece{
    flex:1;

    height:100%;

    border-left:1px solid #ffd400;
}