*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    color:#fff;
    font-family:sans-serif;
}

.app{
    max-width:390px;
    margin:auto;
    padding:10px;
}

header{
    text-align:center;
    margin-bottom:12px;
}

header h1{
    font-size:24px;
}

header p{
    color:#aaa;
    font-size:12px;
    margin-top:4px;
}

.preview{
    background:#222;
    border:2px solid #555;
    border-radius:12px;
    padding:10px;
    margin-bottom:12px;
}

.preview-title{
    font-size:14px;
    margin-bottom:8px;
}

.preview-area{
    width:100%;
    background:#000;
    border:2px dashed #666;
    border-radius:10px;
    padding:25px 0;
}

.canvas-guide{
    position:relative;
    width:220px;
    aspect-ratio:390 / 600;
    margin:auto;
    overflow:hidden;

    border:2px solid #fff;

    background:
        linear-gradient(
            rgba(255,255,255,.08) 1px,
            transparent 1px
        ),
        linear-gradient(
            90deg,
            rgba(255,255,255,.08) 1px,
            transparent 1px
        );

    background-size:20px 20px;
}

.center-line{
    position:absolute;
    z-index:2;
    background:#ffd400;
    opacity:.7;
    pointer-events:none;
}

.center-line.vertical{
    top:0;
    bottom:0;
    left:50%;
    width:1px;
}

.center-line.horizontal{
    left:0;
    right:0;
    top:50%;
    height:1px;
}

#top-frame{
    position:absolute;
    z-index:3;
    top:0;
    left:0;

    display:flex;

    width:100%;
    height:80px;

    background:rgba(255,212,0,.15);

    transition:height .15s;
}

.top-piece{
    flex:1;

    height:100%;

    border-top:2px solid #ffd400;
    border-bottom:2px solid #ffd400;
    border-left:1px solid #ffd400;
    border-right:1px solid #ffd400;

    background:rgba(255,212,0,.08);
}

.tabs{
    display:flex;
    gap:8px;
    margin-bottom:12px;
}

.tab{
    flex:1;
    height:46px;

    border:none;
    border-radius:10px;

    background:#333;
    color:#fff;

    font-size:16px;

    cursor:pointer;
    transition:.2s;
}

.tab.active{
    background:#ffd400;
    color:#000;
    font-weight:bold;
}

#editor{
    min-height:220px;

    background:#222;
    border:2px solid #555;
    border-radius:12px;

    padding:16px;
}

#editor h3{
    margin-bottom:18px;
    font-size:18px;
}

#editor label{
    display:block;
    margin-bottom:10px;
    font-size:16px;
}

#editor input[type="range"]{
    display:block;
    width:100%;
    margin-top:10px;
}

#topValue{
    display:block;
    margin-bottom:22px;

    color:#ffd400;
    font-size:16px;
    font-weight:bold;
}

#topSplit{
    display:block;

    width:100%;
    height:46px;

    margin-top:10px;
    padding:0 12px;

    border:2px solid #555;
    border-radius:10px;

    background:#111;
    color:#fff;

    font-size:16px;
}